@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
[data-overlay-container='true'] {
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

p {
  cursor: default;
}
