@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

#root,
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

p {
  cursor: default;
}
